body,p{
    margin:0;
    padding:0;
}
.content{
    border:1px solid #eee;
    border-radius: 5px;
    background: #F5F5F5;
    margin:20px;
}
.content-text{
    background: #fff;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}
.test_radio{
    position: absolute;
    left: -999em;
}
.test_label{
    display: block;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.test_label:hover{
    text-decoration: underline;
}
.content-text{
    display: none;
}
.test_radio:checked ~ .content-text {
    display: block;
}